/* הגדרות בסיסיות */
body {
    font-family: Arial, sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

/* כרטיסיה רגילה */
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
}

.card-content {
    display: block;
}

.card img.logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
    transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.card h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
    transition: font-size 0.3s ease-in-out; /* הוספת אנימציה להקטנה */
}

.card p {
    margin: 0;
    color: #666;
}

/* התוכן המורחב */
.expanded-content {
    display: none;
    margin-top: 20px;
}

/* עיצוב כאשר הכרטיסיה מורחבת */
.card.expanded {
    width: 90%;
    max-width: 800px;
    position: relative;
    z-index: 10;
    background-color: #f9f9f9;
    transform: scale(1.05);
}

/* ריחוף על כרטיסיה */
.card:hover {
    background-color: #f0f0f0; /* שינוי צבע כשעוברים עם העכבר */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.card.expanded .expanded-content {
    display: block; /* מציג את התוכן המורחב */
}

.card.expanded .card-content {
    display: block; /* לא מסתיר את התוכן הרגיל */
}

    /* הסתרת התיאור כאשר הכרטיס מורחב */
    .card.expanded .card-content p {
        display: none;
    }

/* עיצוב הכותרת של הכרטיסיה */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    width: 100%;
}

    /* כותרת ולוגו */
    .header .logo {
        width: 50px;
        height: auto;
        margin-right: 10px;
        transition: width 0.3s ease; /* הוספת אנימציה להקטנה של הלוגו */
    }

.card.expanded .header .logo {
    width: 40px; /* לוגו קטן יותר בזמן שהכרטיס מורחב */
}

.card.expanded h3 {
    font-size: 16px; /* כותרת קטנה יותר בזמן שהכרטיס מורחב */
}

/* עיצוב כותרת */
.header h3 {
    margin: 0;
    font-size: 20px;
}

/* קישורים */
.link {
    text-decoration: underline;
    color: #0066cc;
}

/* טקסט לחץ להרחבה */
.expand-text {
    font-size: 14px;
    color: #007bff;
    text-align: center;
    cursor: pointer;
}

/* חץ */
.expand-icon {
    font-size: 20px; /* חץ בגודל נאה */
    cursor: pointer;
    color: #003366;
}

.card.expanded .expand-icon {
    transform: rotate(180deg); /* סיבוב החץ כשהכרטיס מורחב */
}
